*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family:"Roboto";
    width: 100%;
    height: 100%;
    
}
.container{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    padding: 10vw 25vw;
}
input{
    width: 100%;
    padding: 12px 22px ;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.336);
    text-align: center;
}
input:focus{
   outline: none;
   border: 1px solid royalblue;
}
#img img{
  width: 100%;
  height: 100%;
    border-radius: 50%;
    object-fit: cover;
   object-position: center;
   overflow: hidden;
   /* display: none; */
}
#img{
    width: 100px;
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
    /* gap: 20px; */
}
.people{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#people{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 150px;
  font-weight: 500;
  
}